* {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box;
}

body {
    width: 1220px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;

    .img-logo {
        background-image: url(./assets/logo\ \(1\).png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 41px;
        height: 41px;
    }

    nav {
        display: flex;
        gap: 35px;
        align-items: center;

        p {
            color: #B8BECD;
            font: 400 16px Inter;
            letter-spacing: 0.01em;

            &:hover {
                color: #202336;
                font-weight: 500;
                letter-spacing: 0;
            }
        }


        .left-btn {
            width: 132px;
            padding: 9px 0;
            border-radius: 8px;
            border: 1px solid #FB8F1D;
            background: #FFF;
            color: #FB8F1D;
            font: 500 15px Inter;
            text-align: center;

            &:active {
                background: #0d765c;
            }
        }

        .right-btn {
            border-radius: 8px;
            background: #FB8F1D;
            width: 132px;
            color: #FFF;
            font: 500 15px Inter;
            text-align: center;
            padding: 9px 0;

            &:active {
                background: #0d765c;
                color: #FB8F1D;
            }
        }
    }
}

.preview {
    display: flex;
    margin-top: 114px;
    justify-content: space-between;
    align-items: center;

    .info {
        display: flex;
        flex-direction: column;
        width: 500px;

        h1 {
            color: #202336;
            font: 700 64px Playfair Display;
        }

        p {
            color: #202336;
            font: 600 22px Inter;
            margin-top: 74px;
            margin-bottom: 71px;
        }

        .inputs {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            color: #4A4C53;
            font: 400 15px Inter;
            margin-bottom: 47px;
        }

        input {
            border-radius: 6px;
            border: 0.8px solid #AFB0B9;
            width: 210px;
            padding: 15px;
        }

        .button {
            border-radius: 8px;
            background: #FB8F1D;
            color: #FFF;
            font: 700 17px Inter;
            padding: 10px 58px;
            width: 180px;

            &:active {
                background: #0d765c;
                color: #FB8F1D;
            }
        }
    }

    .img-1 {
        background-image: url(./assets/thousand-01\ 1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 506px;
        height: 483px;

    }
}

.proposal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img-2 {
        background-image: url(./assets/Thousand-02\ 1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 659px;
        height: 534px;
        margin-top: 113px;
        margin-bottom: 192px;
    }

    .info-2 {
        display: flex;
        flex-direction: column;
        width: 481px;

        h3 {
            color: #000;
            font: 700 36px Playfair Display;
        }

        p {
            color: #7D7987;
            font: 300 17px Inter;
            margin-top: 20px;
            margin-bottom: 39px;
        }

        .button-2 {
            border-radius: 8px;
            background: #FB8F1D;
            color: #FFF;
            font: 600 16px Inter;
            padding: 12px 37px;
            width: 164px;

            &:active {
                background: #0d765c;
                color: #FB8F1D;
            }
        }
    }

}

footer {
    background: #F9F9FB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 408px;
    width: 1640px;

    .advice {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        width: 370px;
        height: 260px;

        .img-logo-2 {
            background-image: url(./assets/Group\ 7.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 44px;
            height: 37px;
        }

        p {
            color: #848484;
            font: 300 18px Inter;
            line-height: 28px;
            margin-top: 30px;
        }

    }

    .variants {
        display: flex;

        .destinations,
        .shop,
        .interests {
            display: flex;
            flex-direction: column;
            width: 290px;
            margin-top: 40px;

            h4 {
                color: #000;
                font: 700 19px Inter;
                line-height: 60px;
            }

            p {
                color: #848484;
                font: 300 18px Inter;
                line-height: 38px;
            }
        }
    }

}