* {
  margin: 0;
  padding: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1220px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .img-logo {
  background-image: url(./assets/logo\ \(1\).png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 41px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav p {
  color: #B8BECD;
  font: 400 16px Inter;
  letter-spacing: 0.01em;
}
header nav p:hover {
  color: #202336;
  font-weight: 500;
  letter-spacing: 0;
}
header nav .left-btn {
  width: 132px;
  padding: 9px 0;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
  background: #FFF;
  color: #FB8F1D;
  font: 500 15px Inter;
  text-align: center;
}
header nav .left-btn:active {
  background: #0d765c;
}
header nav .right-btn {
  border-radius: 8px;
  background: #FB8F1D;
  width: 132px;
  color: #FFF;
  font: 500 15px Inter;
  text-align: center;
  padding: 9px 0;
}
header nav .right-btn:active {
  background: #0d765c;
  color: #FB8F1D;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 114px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}
.preview h1 {
  color: #202336;
  font: 700 64px Playfair Display;
}
.preview p {
  color: #202336;
  font: 600 22px Inter;
  margin-top: 74px;
  margin-bottom: 71px;
}
.preview .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  color: #4A4C53;
  font: 400 15px Inter;
  margin-bottom: 47px;
}
.preview input {
  border-radius: 6px;
  border: 0.8px solid #AFB0B9;
  width: 210px;
  padding: 15px;
}
.preview .button {
  border-radius: 8px;
  background: #FB8F1D;
  color: #FFF;
  font: 700 17px Inter;
  padding: 10px 58px;
  width: 180px;
}
.preview .button:active {
  background: #0d765c;
  color: #FB8F1D;
}
.preview .img-1 {
  background-image: url(./assets/thousand-01\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 506px;
  height: 483px;
}

.proposal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proposal .img-2 {
  background-image: url(./assets/Thousand-02\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 659px;
  height: 534px;
  margin-top: 113px;
  margin-bottom: 192px;
}
.proposal .info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 481px;
}
.proposal h3 {
  color: #000;
  font: 700 36px Playfair Display;
}
.proposal p {
  color: #7D7987;
  font: 300 17px Inter;
  margin-top: 20px;
  margin-bottom: 39px;
}
.proposal .button-2 {
  border-radius: 8px;
  background: #FB8F1D;
  color: #FFF;
  font: 600 16px Inter;
  padding: 12px 37px;
  width: 164px;
}
.proposal .button-2:active {
  background: #0d765c;
  color: #FB8F1D;
}

footer {
  background: #F9F9FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 408px;
  width: 1640px;
}
footer .advice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 370px;
  height: 260px;
}
footer .advice .img-logo-2 {
  background-image: url(./assets/Group\ 7.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 37px;
}
footer .advice p {
  color: #848484;
  font: 300 18px Inter;
  line-height: 28px;
  margin-top: 30px;
}
footer .variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .destinations,
footer .shop,
footer .interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  margin-top: 40px;
}
footer .destinations h4,
footer .shop h4,
footer .interests h4 {
  color: #000;
  font: 700 19px Inter;
  line-height: 60px;
}
footer .destinations p,
footer .shop p,
footer .interests p {
  color: #848484;
  font: 300 18px Inter;
  line-height: 38px;
}